@import '../../styles/variables';
.Register {
  font-size: 1rem;
  padding: 0 3em;
  background: $white;
  border-radius: 5px;
  font-family: Jost;
  h1,
  h3 {
    text-align: center;
  }

  h3 {
    font-weight: 300;
    font-size: 1.33em;
    padding-bottom: 1.25em;

  }

  &Form {
    button {
      margin-top: 1em;
    }
    .submit{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1.5em;
    }
  }
}
