@import '../../styles/variables';
.Register {
  font-size: 1rem;
  padding: 0 3em;
  background: $white;
  border-radius: 5px;
  font-family: Jost;
  h3 {
    text-align: center;
    font-weight: 300;
    font-size: 1.33em;
  }
  &Form {
    button {
    }
  }
}
