@import 'variables';
@import 'breakpoint';
@import 'normalize';
@import 'typography';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
 
  @include md {
    font-size: 75%;
  }

  @include xl {
    font-size: 100%;
  }

  @include rwd(1440) {
    font-size: 112.5%;
  }

  @include rwd(2560) {
    font-size: 200%;
  }
}

body {
  font-family: Jost;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  max-width: 2560px;
  margin: 0 auto;
  color: #223856;
  background: $white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: Jost;
  color: inherit;
}

button {
  cursor: pointer;

  &:focus,
  &:visited,
  &:active {
    outline: 0;
  }
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin: 0;
}
