@import '../../styles/breakpoint';
@import '../../styles/variables';
.Layout {
  background: $gradient;
  display: block;
  height: 100%;
  width: 100%;
  @include md {
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    font-size: 1rem;
  }
  &Content {
    padding: 0 3em;
    background: $white;
    height: 100vh;
    display: grid;
    align-items: center;
    @include sm {
      padding: 0;
    }
  }
  &Bg {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    svg {
      width: 30em;
    }
    @include sm {
      display: none;
    }
  }
}
